@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/* shard Style */
.secondery-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}

/* header */
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
.banner-profile-pic{
    width: 450px;
}
/* Nav style */


.btn-primary{
    background-color: #FD6E0A;
    border: none;
    color: white;
    font: bold;
    padding: 18px 35px;
    border-radius: 6px;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
nav{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 200px;
}
.dark-2{
    color: #474747;
}
.nav-title{
    font-weight: 900;
    font-size: 46px;
}
nav ul{
    display: flex;
    align-items: center;
   
}
nav ul li{
    list-style: none;
    margin-right:51px ;
}
nav ul li a{
    text-decoration:none;
    font-size: 21px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills */
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px gray;

}

.experience-sub-title{
    color: #757575;
    font-weight:600 ;
    font-size: 18px;
    margin-bottom: 20px;

}
.experience-description,.experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px;
}
.resume-container{
    display: flex;
}
/* footer styles */
footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer [type="text"] ,footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: none;


}
input[type="submit"]{
    background-color: #FD6E0A;
    border: none;
    color: white;
    font: bold;
    padding: 18px 35px;
    border-radius: 6px;
    cursor: pointer;

}