@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/* shard Style */
.text-primary{
    color: #FD6E0A;
}


/* Nav style */


.btn-primary{
    background-color: #FD6E0A;
    border: none;
    color: white;
    font: bold;
    padding: 18px 35px;
    border-radius: 6px;
    cursor: pointer;
}
nav{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 200px;
}
.dark-2{
    color: #474747;
}
.nav-title{
    font-weight: 900;
    font-size: 46px;
}
nav ul{
    display: flex;
    align-items: center;
   
}
nav ul li{
    list-style: none;
    margin-right:51px ;
}
nav ul li a{
    text-decoration:none;
    font-size: 21px;
}